parameters:
    excludePaths:
        - src/Http/*/Base/*.php
        - src/Facades/Base/*.php
        - src/Models/Base/*.php
        - src/Models/Post.php
        - src/Helpers/Base/*.php
        - src/Supports/Base/*.php
        - src/Http/Actions/Action.php

    ignoreErrors:
        - message: '#Call to an undefined method CSlant\\Blog\\Core\\Models\\.*::hasOne\(\).#'
          path: src/Models/*.php
        - message: '#.*is used zero times and is not analysed#'
          path: *.php
        - message: '#Method CSlant\\Blog\\Core\\Models\\.*::slug\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types: TRelatedModel, TDeclaringModel#'
          path: src/Models/*.php
        -
          identifier: missingType.generics
        -
          identifier: method.notFound
